div {
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: gainsboro;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

div::first-letter{
    margin-left: -110px;
    background-color: blue;
}
